<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投融界网站</title>

    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="{{asset('favicon.ico')}}">

    <link rel="stylesheet" href="{{ asset('assets/admin/src/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/src/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/src/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/src/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/src/css/jquery.validator.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_class %}{% endblock %}>

{% block body%}{% endblock %}

<script src="{{ asset('assets/admin/src/lib/sea.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
